body {
  height: 2000px;
}

.usernameGrabber {
  width: 500px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  left: 32%;
}

#username {
  width: 200px;
  border: none;
  padding: 5px;
  margin: 5px;
}
